@keyframes fade-in {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
body {
  margin: 0;
  line-height: normal;
}
.desktop-local-grow-child {
  position: absolute;
  top: -3px;
  left: 0;
  background: linear-gradient(180deg, #eedb4d 53.13%, #44d3ee), #1e1e1e;
  width: 1440px;
  height: 982px;
}
.are-you-difficult-to-increase,
.choose-your-stage {
  position: absolute;
  top: 244px;
  left: 128px;
  font-size: var(--font-size-10xl);
  letter-spacing: 0.02em;
  line-height: 75px;
  font-weight: 800;
  color: var(--color-gray-1100);
  display: inline-block;
  width: 829px;
}
.choose-your-stage {
  top: 867px;
  font-size: var(--font-size-9xl);
  width: 797px;
}
.desktop-local-grow-item {
  position: absolute;
  top: 144px;
  left: 835px;
  width: 596px;
  height: 615px;
  object-fit: cover;
}
.support-smes {
  font-family: var(--font-nunito);
}
.grow-at-scale {
  text-decoration: underline;
  font-weight: 700;
}
.support-smes-business-to-grow {
  position: absolute;
  top: 515px;
  left: 128px;
  line-height: 36px;
  color: var(--color-gray-1200);
  display: inline-block;
  width: 613px;
}
.group-child {
  position: absolute;
  top: -2px;
  left: -2px;
  border-radius: var(--br-xl);
  background: linear-gradient(97.32deg, #f07922, #eedb4d);
  box-shadow: 0 30px 50px rgba(168, 22, 75, 0.15);
  border: 2px solid var(--color-gray-1000);
  box-sizing: border-box;
  width: 195px;
  height: 65.85px;
}
.get-started {
  position: absolute;
  top: 21px;
  left: 41px;
  letter-spacing: 0.02em;
  display: inline-block;
  width: 108px;
  height: 19px;
}
.rectangle-parent {
  position: absolute;
  top: 680px;
  left: 128px;
  width: 191px;
  height: 61.85px;
  cursor: pointer;
  text-align: center;
  font-size: var(--font-size-sm);
  color: var(--text-header);
  font-family: var(--font-ubuntu);
}
.section-2 {
  position: absolute;
  top: 972px;
  left: 0;
  background: linear-gradient(180deg, #44d3ee 54.69%, #eedb4d);
  width: 1440px;
  height: 670px;
}
.know-your {
  margin-block-start: 0;
  margin-block-end: 10px;
}
.business-potential {
  margin: 0;
}
.know-your-business-potential {
  position: absolute;
  top: 1068px;
  left: 186px;
  font-size: var(--font-size-4xl);
  letter-spacing: 0.02em;
  line-height: 30px;
  font-weight: 800;
  display: inline-block;
  width: 441px;
}
.every-business-which {
  margin-block-start: 0;
  margin-block-end: 0;
}
.every-business-which-have-run {
  position: absolute;
  top: 1158px;
  left: 186px;
  line-height: 36px;
  color: var(--color-gray-800);
  display: inline-block;
  width: 561px;
}
.desktop-local-grow-inner {
  position: absolute;
  top: 1307px;
  left: 224px;
  border-radius: var(--br-2xs);
  background-color: var(--color-black);
  width: 196px;
  height: 57px;
}
.product-3 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-sm);
  background: linear-gradient(180deg, #fff, #eedb4d);
  width: 369px;
  height: 404px;
}
.product-1-child {
  position: absolute;
  top: 308px;
  left: 86px;
  border-radius: var(--br-2xs);
  background-color: var(--color-black);
  width: 196px;
  height: 57px;
  cursor: pointer;
}
.understand-my-business-potenti {
  position: absolute;
  top: 59px;
  left: 48px;
  font-size: var(--font-size-4xl);
  letter-spacing: 0.02em;
  line-height: 30px;
  font-weight: 800;
  display: inline-block;
  width: 441px;
}
.start-consult {
  position: absolute;
  top: 324px;
  left: 115px;
  letter-spacing: 0.04em;
  display: inline-block;
  color: var(--text-header);
  text-align: center;
  width: 139px;
  height: 26px;
}
.product-1,
.product-31 {
  position: absolute;
  top: 999px;
  left: 138px;
  width: 489px;
  height: 404px;
}
.product-31 {
  top: 0;
  left: 0;
  border-radius: var(--br-sm);
  background: linear-gradient(180deg, #eedb4d, #fc9536);
  width: 369px;
}
.product-2-child {
  position: absolute;
  top: 308px;
  left: 86px;
  border-radius: var(--br-2xs);
  background-color: var(--color-brown-200);
  width: 196px;
  height: 57px;
  cursor: pointer;
}
.are-you-ready-to-bring-up-your {
  position: absolute;
  top: 150px;
  left: 48px;
  line-height: 36px;
  color: var(--color-gray-800);
  display: inline-block;
  width: 274px;
}
.yes-im-ready {
  top: 324px;
  left: 107px;
  letter-spacing: 0.04em;
  display: inline-block;
  color: var(--text-header);
  text-align: center;
  width: 157px;
  height: 26px;
}
.let-me-know,
.product-2,
.yes-im-ready {
  position: absolute;
}
.product-2 {
  top: 999px;
  left: 944px;
  width: 489px;
  height: 404px;
}
.let-me-know {
  top: 324px;
  left: 118px;
  letter-spacing: 0.04em;
  display: inline-block;
  color: var(--text-header);
  text-align: center;
  width: 132px;
  height: 26px;
}
.product-32 {
  top: 999px;
  left: 542px;
  width: 489px;
  height: 404px;
}
.product-32,
.section-3,
.vector-icon {
  position: absolute;
}
.vector-icon {
  top: 943px;
  left: 484.89px;
  width: 260.24px;
  height: 18.74px;
}
.section-3 {
  top: 1638px;
  left: 0;
  background: linear-gradient(180deg, #eedb4d 90.1%, #eedb4d);
  width: 1440px;
  height: 1422px;
}
.group-icon {
  position: absolute;
  object-fit: cover;
}
.group-item {
  top: 57.98px;
  left: 89.53px;
  width: 577.25px;
  height: 513.02px;
}
.group-item,
.icon {
  position: absolute;
  object-fit: cover;
}
.group-icon {
  top: 19px;
  left: 11px;
  width: 460.58px;
  height: 350.65px;
}
.icon {
  top: 19.73px;
  left: 0;
  width: 384.86px;
  height: 504.82px;
}
.parent {
  position: absolute;
}
.rectangle-div,
.rectangle-icon {
  position: absolute;
  top: 289.62px;
  height: 128.22px;
}
.rectangle-div {
  left: 137.84px;
  background-color: var(--text-header);
  width: 202.28px;
}
.rectangle-icon {
  left: 227.63px;
  width: 112.48px;
}
.parent {
  top: 0;
  left: 0;
  width: 384.86px;
  height: 504.82px;
}
.grow {
  margin: 0;
  color: var(--color-black);
}
.local-grow {
  position: absolute;
  top: 56.95px;
  left: 2px;
  line-height: 25px;
  display: inline-block;
  font-weight: 700;
}
.vuesaxbulkverify-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 44.75px;
  height: 44.83px;
}
.local-grow-parent {
  position: absolute;
  top: 296.79px;
  left: 158.13px;
  width: 56px;
  height: 106.95px;
}
.group-container,
.mask-group1 {
  position: absolute;
  top: -19.73px;
  left: 82.34px;
  width: 384.86px;
  height: 504.82px;
}
.mask-group1 {
  top: 57.98px;
  left: 89.53px;
  width: 577.25px;
  height: 535.06px;
}
.icon1 {
  object-fit: cover;
}
.group-frame {
  width: 384.86px;
  height: 248.37px;
}
.group-frame,
.group-parent,
.icon1,
.wrapper {
  position: absolute;
}
.icon1,
.wrapper {
  top: 0;
  left: 0;
  width: 384.86px;
  height: 248.37px;
}
.group-frame {
  top: 38.26px;
  left: 171.87px;
}
.group-parent {
  top: -19px;
  left: -11px;
  width: 666.77px;
  height: 593.04px;
}
.group-div,
.group-wrapper {
  position: absolute;
  width: 656px;
  height: 552px;
}
.group-wrapper {
  top: 0;
  left: 0;
}
.group-div {
  top: 1572px;
  left: 687px;
  font-size: var(--font-size-lg);
  color: var(--color-brown-200);
}
.get-your-seat,
.premium-consulting-like-no-oth,
.some-of-brands-i-have-work-wit {
  position: absolute;
  letter-spacing: 0.02em;
  line-height: 75px;
  font-weight: 800;
  display: inline-block;
}
.premium-consulting-like-no-oth,
.some-of-brands-i-have-work-wit {
  top: 1617px;
  left: 128px;
  font-size: var(--font-size-9xl);
  width: 797px;
}
.some-of-brands-i-have-work-wit {
  top: 2301px;
}
.get-your-seat {
  top: 2474px;
  left: 847px;
  font-size: var(--font-size-5xl);
  width: 269px;
}
.accelerate-your-business-growt {
  position: absolute;
  top: 1808px;
  left: 136px;
  font-size: var(--font-size-xl);
  line-height: 36px;
  color: var(--color-gray-1200);
  display: inline-block;
  width: 561px;
}
.weekly-insight {
  text-decoration: underline;
}
.email-address,
.full-name,
.get-weekly-insight-presentatio,
.this-are-list-of-brands-who-ar {
  position: absolute;
  font-size: var(--font-size-xl);
  line-height: 36px;
  display: inline-block;
}
.get-weekly-insight-presentatio {
  top: 1903px;
  left: 136px;
  color: var(--color-gray-1200);
  width: 578px;
}
.this-are-list-of-brands-who-ar {
  color: var(--color-gray-1200);
  top: 2494px;
  left: 128px;
  width: 561px;
}
.email-address,
.full-name {
  left: 855px;
  color: var(--color-gray-900);
}
.full-name {
  top: 2549px;
  width: 106px;
}
.email-address {
  top: 2630px;
  width: 179px;
}
.desktop-local-grow-child1,
.group-child1 {
  position: absolute;
  top: 3053px;
  left: 0;
  width: 1447px;
  height: 640px;
}
.group-child1 {
  top: -2px;
  left: -2px;
  border-radius: var(--br-xl);
  background: linear-gradient(97.32deg, #000, #0c1338);
  box-shadow: 0 30px 50px rgba(168, 22, 75, 0.15);
  border: 2px solid var(--color-gray-1000);
  box-sizing: border-box;
  width: 317px;
  height: 66px;
}
.create-my-personal-bid {
  position: absolute;
  top: 17px;
  left: 4.44px;
  letter-spacing: 0.02em;
  display: inline-block;
  width: 303.33px;
  height: 19px;
}
.rectangle-group {
  position: absolute;
  top: 2062px;
  left: 128px;
  width: 313px;
  height: 62px;
  cursor: pointer;
  text-align: center;
  color: var(--text-header);
}
.desktop-local-grow-child2 {
  left: 847px;
}
.desktop-local-grow-child2,
.desktop-local-grow-child3,
.desktop-local-grow-child4 {
  position: absolute;
  top: 2307px;
  border-radius: var(--br-sm);
  background: linear-gradient(180deg, #44d3ee, #14183e);
  width: 122px;
  height: 144px;
}
.desktop-local-grow-child3 {
  left: 989px;
}
.desktop-local-grow-child4 {
  left: 1131px;
}
.div {
  left: 886px;
}
.div,
.div1,
.div2 {
  position: absolute;
  top: 2341px;
  font-size: var(--font-size-11xl);
  letter-spacing: 0.02em;
  line-height: 75px;
  font-weight: 800;
  color: var(--text-header);
  display: inline-block;
  width: 45px;
}
.div1 {
  left: 1028px;
}
.div2 {
  left: 1170px;
}
.desktop-local-grow-child5,
.line-div {
  position: absolute;
  left: 846.5px;
  border-top: 1px solid var(--color-gray-1200);
  box-sizing: border-box;
  height: 1px;
}
.line-div {
  top: 2586.5px;
  width: 407px;
}
.desktop-local-grow-child5 {
  top: 2674.25px;
  width: 407.01px;
}
.desktop-local-grow-child6 {
  position: absolute;
  top: 2706px;
  left: 847px;
  border-radius: var(--br-2xs);
  background-color: var(--color-black);
  width: 408px;
  height: 57px;
  cursor: pointer;
}
.book-my-number-now {
  position: absolute;
  top: 2721px;
  left: 847px;
  letter-spacing: 0.04em;
  display: inline-block;
  color: var(--text-header);
  text-align: center;
  width: 406px;
  height: 27px;
}
.fire-icon {
  position: absolute;
  top: -166px;
  left: -123px;
  width: 1735px;
  height: 3859px;
  object-fit: cover;
  display: none;
  mix-blend-mode: normal;
}
.desktop-local-grow-child7 {
  position: absolute;
  top: 2974px;
  left: 118px;
  border-radius: var(--br-md);
  background: linear-gradient(180deg, #fb3f6c, #eedb4d 85.94%, #f07922);
  filter: blur(4px);
  width: 1199px;
  height: 329px;
}
.desktop-local-grow-child8,
.image-7-icon {
  position: absolute;
  top: 2842px;
  left: 62px;
  width: 584px;
  height: 643px;
  object-fit: cover;
}
.image-7-icon {
  top: 2px;
  left: 0;
  width: 148px;
  height: 46px;
}
.grape-1-1,
.nusademy-anniv-logo-09-1 {
  position: absolute;
  top: 88px;
  left: 216px;
  width: 273.02px;
  height: 43px;
  object-fit: cover;
}
.nusademy-anniv-logo-09-1 {
  left: 144px;
  width: 42.63px;
  height: 50px;
}
.kita-black-1-icon,
.malidas-logo-combination-stack {
  position: absolute;
  top: 85px;
  left: 4px;
  width: 110.88px;
  height: 46px;
  object-fit: cover;
}
.malidas-logo-combination-stack {
  top: 0;
  left: 511px;
  width: 47.65px;
  height: 50px;
}
.image-10-icon {
  position: absolute;
  height: 46px;
  object-fit: cover;
}
.image-11-icon {
  top: 87px;
  left: 518px;
  width: 59.28px;
}
.image-11-icon,
.image-8-icon {
  position: absolute;
  height: 46px;
  object-fit: cover;
}
.image-10-icon {
  top: 6px;
}
.image-8-icon {
  top: 6px;
  left: 174px;
  width: 195.64px;
}
.image-10-icon {
  left: 396px;
  width: 88.53px;
}
.clients,
.group-child2 {
  position: absolute;
  top: 2620px;
  left: 130px;
  width: 577.28px;
  height: 138px;
}
.group-child2 {
  top: -2px;
  left: -2px;
  border-radius: var(--br-xl);
  background-color: var(--color-gray-700);
  box-shadow: 0 30px 50px rgba(168, 22, 75, 0.15);
  border: 2px solid var(--color-gray-1000);
  box-sizing: border-box;
  width: 306px;
  height: 66px;
}
.get-your-free-call {
  position: absolute;
  top: 18px;
  left: 5.83px;
  letter-spacing: 0.02em;
  display: inline-block;
  width: 292.67px;
  height: 19px;
}
.rectangle-container {
  position: absolute;
  top: 3183px;
  left: 938px;
  width: 302px;
  height: 62px;
  cursor: pointer;
  text-align: center;
  color: var(--text-header);
}
.ready-to-create-your-own-bid {
  position: absolute;
  top: 3034px;
  left: 669px;
  font-size: 38px;
  letter-spacing: 0.02em;
  line-height: 50px;
  font-weight: 800;
  display: inline-block;
  width: 606px;
}
.footer-child {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 160px;
}
.deskripsi {
  position: absolute;
  top: 25%;
  left: 76.23%;
  display: inline-block;
}
.instagram-icon,
.twitter-icon {
  position: absolute;
  height: 100%;
  width: 4.36%;
  top: 0;
  bottom: 0;
  border-radius: var(--br-xs);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  cursor: pointer;
}
.twitter-icon {
  right: 6.11%;
  left: 89.53%;
}
.instagram-icon {
  right: 0;
  left: 95.64%;
}
.copyright-local-grow-2022-al {
  position: absolute;
  top: 27.5%;
  left: 4.14%;
  font-size: var(--font-size-xs);
  display: inline-block;
}
.ant-designcopyright-circle-ou-icon {
  position: absolute;
  height: 40%;
  width: 1.74%;
  top: 30%;
  right: 96.4%;
  bottom: 30%;
  left: 1.85%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-child3 {
  position: absolute;
  top: 2px;
  left: 0;
  background-color: var(--text-header);
  width: 1px;
  height: 36px;
  opacity: 0.4;
}
.deskripsi-parent {
  position: absolute;
  height: 25%;
  width: 63.68%;
  top: 37.5%;
  right: 9.38%;
  bottom: 37.5%;
  left: 26.94%;
}
.grow1 {
  color: var(--color-gold);
}
.local-grow1 {
  position: absolute;
  top: 62px;
  left: 135px;
  font-size: var(--font-size-8xl);
  line-height: 36px;
  display: inline-block;
  font-weight: 700;
  color: var(--color-cyan);
}
.ellipse-icon,
.footer {
  position: absolute;
  left: 0;
}
.footer {
  top: 3533px;
  width: 1440px;
  height: 160px;
  font-size: var(--font-size-sm);
  color: var(--text-header);
  font-family: var(--font-ubuntu);
}
.ellipse-icon {
  top: 0;
  width: 79px;
  height: 78px;
}
.b1 {
  position: absolute;
  top: 1px;
  left: 30px;
  letter-spacing: 0.02em;
  line-height: 75px;
  display: inline-block;
  width: 41px;
}
.ellipse-container,
.ellipse-group,
.ellipse-parent {
  position: absolute;
  width: 79px;
  height: 78px;
  font-size: var(--font-size-3xl);
}
.ellipse-group,
.ellipse-parent {
  top: 960px;
  color: var(--color-gray-1100);
}
.ellipse-parent {
  left: 174px;
}
.ellipse-group {
  left: 581px;
}
.ellipse-container {
  top: 961px;
  left: 972px;
  color: var(--text-header);
}
.schedule-1-hour-free-call-to-b {
  position: absolute;
  width: 41.46%;
  top: 83.75%;
  left: 46.46%;
  font-size: 23px;
  line-height: 36px;
  color: var(--color-gray-1200);
  display: inline-block;
}
.local-grow2 {
  position: absolute;
  top: 52px;
  left: 128px;
  font-size: var(--font-size-7xl);
  letter-spacing: 0.02em;
  line-height: 60%;
  display: inline-block;
  font-weight: 700;
  text-align: center;
}
.group-child6 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-lg);
  background-color: var(--color-black);
  width: 143px;
  height: 55px;
}
.free-call {
  position: absolute;
  top: 18px;
  left: 33px;
  letter-spacing: 0.04em;
  display: inline-block;
}
.rectangle-parent1 {
  position: absolute;
  top: 0;
  left: 421px;
  width: 143px;
  height: 55px;
  cursor: pointer;
  font-size: var(--font-size-3xs);
  color: var(--text-header);
}
.home {
  top: 17px;
}
.home,
.portfolio,
.products-services {
  position: absolute;
  letter-spacing: 0.05em;
  display: inline-block;
  cursor: pointer;
}
.products-services {
  top: 17px;
}
.home {
  left: 0;
  text-decoration: underline;
  font-weight: 800;
  color: var(--color-gray-1300);
}
.products-services {
  left: 88px;
}
.portfolio {
  top: 18px;
  left: 286px;
}
.desktop-local-grow-inner1,
.group-parent1 {
  position: absolute;
  width: 564px;
  height: 55px;
}
.group-parent1 {
  top: 0;
  left: 0;
}
.desktop-local-grow-inner1 {
  top: 40px;
  left: 741px;
  font-size: var(--font-size-xs);
}
.desktop-local-grow {
  position: relative;
  width: 100%;
  height: 3693px;
  overflow: hidden;
  opacity: 0;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-gray-500);
  font-family: var(--font-nunito);
}
.desktop-local-grow.animate {
  animation: 1s ease 0s 1 normal forwards fade-in;
}
@media screen and (max-width: 428px) {
  .desktop-local-grow {
    display: flex;
  }
}
